*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (max-width: 23.75em) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  text-align: center;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  5% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
body {
  line-height: 1.7;
  font-size: 1.6rem;
}

.heading-primary {
  font-size: 3.5rem;
  color: #e6e6e6;
  line-height: 1;
}

.u-text-center {
  text-align: center;
}

.u-mb-xl {
  margin-bottom: 10rem;
}

.u-mb-l {
  margin-bottom: 8rem;
}

.u-mb-m {
  margin-bottom: 4rem;
}
@media (max-width: 23.75em) {
  .u-mb-m {
    margin-bottom: 1.5rem;
  }
}

.u-mb-s {
  margin-bottom: 1.5rem;
}

.u-mt-xl {
  margin-top: 10rem;
}

.u-mt-l {
  margin-top: 8rem;
}

.u-mt-m {
  margin-top: 4rem;
}
@media (max-width: 23.75em) {
  .u-mt-m {
    margin-top: 1.5rem;
  }
}

.u-mt-s {
  margin-top: 2rem;
}

.wordle-modal {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom right, rgba(16, 16, 16, 0.7), rgba(80, 80, 80, 0.7));
  display: none;
}
.wordle-modal__card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: #878787;
  color: #fafafa;
  font-size: 2rem;
  font-weight: 600;
  padding: 2rem;
  min-height: 20rem;
  min-width: 32rem;
}
.wordle-modal.block {
  display: block;
}

.btn-ok {
  text-transform: uppercase;
  text-decoration: none;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-image: linear-gradient(52deg, #101010, rgb(43, 79, 163));
  color: #fafafa;
  box-shadow: 0 1rem 2rem rgba(16, 16, 16, 0.2);
}
.btn-ok:active {
  transform: translateY(0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(16, 16, 16, 0.2);
}

.board__row {
  display: flex;
  justify-content: center;
  margin: 8px auto;
}
.board__box {
  width: 5rem;
  height: 5rem;
  margin: 0 4px;
  font-size: 3.5rem;
  border-radius: 2px;
  position: relative;
  perspective: 180rem;
  -moz-perspective: 180rem;
  overflow: hidden;
  transition: background-color 0.5s;
}
.board__square {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 1s;
}
.board__square--front {
  background-color: #e6e6e6;
}
.board__square--front.flipped {
  transform: rotateX(180deg);
}
.board__square--back {
  transform: rotateX(-180deg);
}
.board__square--back.flipped {
  transform: rotateX(0);
}

.keyboard__row {
  margin-bottom: 1rem;
}
.keyboard__button {
  border: none;
  box-shadow: none;
  background-color: #fafafa;
  border-radius: 1rem;
  height: 4rem;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0 2px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all, 0.2s;
}
.keyboard__button--letter {
  width: 3rem;
}
.keyboard__button--del, .keyboard__button--enter {
  width: auto;
  padding: 0.5rem;
  font-size: 1.2rem;
}
.keyboard__button:active {
  transform: translateY(0.2rem);
}

.spot-on {
  background-color: #45e545;
}

.almost {
  background-color: #ffff4b;
}

.wrong {
  background-color: #505050;
  color: #e6e6e6;
}

html {
  background-color: #101010;
}

/*# sourceMappingURL=styles.css.map */
