
$color-white: #fafafa;
$color-white-cream: #e6e6e6;

$color-black: #101010;
$color-grey-dark: #505050;
$color-grey-medium: #878787;
$color-green: #45e545;
$color-yellow: #ffff4b;

$color-blue-dark: rgb(26, 46, 91);
$color-blue-medium: rgb(43, 79, 163);
