// @use "../base/animations";
@use "../abstracts/variables";

.game-board {
  &__row {
    display: flex;
    justify-content: center;
    margin: 4px auto;

    &__box {
      width: 5rem;
      height: 5rem;
      margin: 0 4px;
      font-size: 3.5rem;
      background-color: variables.$color-white-cream;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color .5s;
    }
  }
}
