@use "../abstracts/variables";

.keyboard {

  &__row {
    margin-bottom: 1rem;
  }

  &__button {
    border: none;
    box-shadow: none;
    background-color: variables.$color-white;
    border-radius: 1rem;
    height: 4rem;
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0 2px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all, .2s;

    &--letter {
      width: 3rem;
    }

    &--del,
    &--enter {
      width: auto;
      padding: .5rem;
      font-size: 1.2rem;
    }

    &:active {
      transform: translateY(.2rem);
    }
  }
}
