@use "../abstracts/variables";

.spot-on {
  background-color: variables.$color-green;
}

.almost {
  background-color: variables.$color-yellow;
}

.wrong {
  background-color: variables.$color-grey-dark;
  color: variables.$color-white-cream;
}
