@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

h1 {
  font-size: 2.8rem;
  text-align: center;
  padding: 1.5rem 0;
  color: #e8e8e8;
}

html {
  background-color: #101010;
}

.game-section {
  padding-bottom: 25px;
  margin: auto;
}

.wordle-row {
  padding: 4px 0;
  display: flex;
  justify-content: center;
  margin: auto;
}

.wordle-box {
  width: 50px;
  height: 50px;
  margin: 0 4px;
  font-size: 1.5rem;
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
}

#keyboard-cont {
  margin: 1.5rem 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#keyboard-cont div {
  display: flex;
}

.second-row {
  margin: 0.5rem 0;
}

button {
  border: none;
  box-shadow: none;
}

.keyboard-button {
  background-color: #fafafa;
  border-radius: 10px;
  width: 30px;
  height: 40px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  margin: 0 2px;
  cursor: pointer;
  text-transform: uppercase;
}

.keyboard-button:active {
  background-color: #585858;
}

#del-btn, #enter-btn {
  width: auto;
  padding: 0 .5rem;
  font-size: .8rem;
}

.spot-on {
  background-color: #45e545;
}

.almost {
  background-color: #ffff4b;
}

.wrong {
  background-color: #505050;
  color: #f8f8f8;
}

.modal {
  z-index: 10;
  height: 100vh;
  width: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #585858bc;
}

.inner-modal {
  z-index: 10;
  background-color: #222;
  color: #f8f8f8;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 2rem 1.5rem;
  min-height: 12rem;
  min-width: 20rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.modal-button {
  height: 4.5rem;
  width: 4.5rem;
  font-size: 1.2rem;
  border-radius: 50%;
  border: 1px solid #fff;
  background: rgb(0, 0, 0);
  background: linear-gradient(52deg, rgba(0, 0, 0, 1) 0%, rgba(26, 47, 94, 1) 100%, rgba(26, 47, 94, 1) 100%);
  color: #f8f8f8;
  cursor: pointer;
}

.modal-button:active {
  background: rgb(207, 214, 228);
  background: linear-gradient(52deg, rgba(207, 214, 228, 1) 0%, rgba(43, 79, 163, 1) 100%);
}

.inner-modal {
  display: none;
}

.flex {
  display: flex;
}

@media all and (max-width: 359px) {
  .keyboard-button {
    width: 25px;
    height: 30px;
    border-radius: 8px;
  }

  .wider {
    width: auto;
  }

  .wordle-box {
    width: 48px;
    height: 48px;
  }
}
